* {
  margin: 0px;
  padding: 0px; }

body {
  overflow-x: hidden;
  font-family: Wicked Grit; }
  body header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: url(../img/bg4.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;
    width: 100vw; }
    body header nav {
      z-index: 5;
      margin: 1rem 0;
      width: 90vw;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body header nav #img {
        margin-top: 2rem;
        width: 7%;
        border-radius: 50%;
        min-width: 100px; }
      body header nav .humberger {
        height: 3px;
        width: 30px;
        background-color: white;
        z-index: 1;
        cursor: pointer;
        transition-duration: 0.3s; }
        body header nav .humberger::before {
          content: "";
          position: relative;
          top: -10px;
          display: block;
          height: 3px;
          width: 100%;
          background-color: inherit;
          z-index: 1; }
        body header nav .humberger::after {
          content: "";
          position: relative;
          top: 7px;
          display: block;
          height: 3px;
          width: 100%;
          background-color: inherit;
          z-index: 1; }
        @media only screen and (min-width: 1024px) {
          body header nav .humberger {
            display: none; } }
      body header nav .humberger.open {
        transform: rotate(45deg); }
        body header nav .humberger.open::before {
          transform: rotate(90deg);
          top: 0; }
        body header nav .humberger.open::after {
          display: none; }
      body header nav ul {
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        background-color: black;
        border: 1px solid white;
        transition-duration: 0.3s; }
        @media only screen and (min-width: 1024px) {
          body header nav ul {
            position: initial;
            transform: translate(0%, 0%);
            display: flex;
            border: none;
            width: 60%;
            background-color: transparent;
            max-width: 680px;
            flex-direction: row;
            justify-content: space-between; } }
        body header nav ul li {
          padding: .5rem 0; }
          body header nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 3.5rem; }
            body header nav ul li a:hover {
              text-decoration: underline; }
            @media only screen and (min-width: 1024px) {
              body header nav ul li a {
                font-size: 1.5rem; } }
        body header nav ul li:nth-child(1) {
          margin-top: 4rem; }
          @media only screen and (min-width: 1024px) {
            body header nav ul li:nth-child(1) {
              margin-top: 0rem; } }
      body header nav button {
        padding: .5rem 1rem;
        background-color: #ff3300;
        border: none;
        text-transform: uppercase;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        transition: 0.2s; }
      body header nav button:hover {
        color: white;
        background-color: #ff3300;
        box-shadow: 0 0 10px #ff3300, 0 0 40px #ff3300, 0 0 80px #ff3300; }
      body header nav button:active {
        transform: scale(0.9); }
    body header form {
      width: 70%;
      max-width: 768px;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%); }
      body header form label {
        color: white; }
      body header form input {
        padding: .5rem 1rem;
        border-radius: 5px;
        border: none; }
      body header form textarea {
        padding: .5rem 1rem;
        border-radius: 5px;
        border: none; }
      body header form input[type=file] {
        background-color: white;
        border: none;
        border-radius: 5px;
        padding: .5rem; }
