$black:black;
$white:white;
$colorR:#ff3300;
$colorsub1:#21f344;
$colorsub2:#255784;
$color3:#1078DC;
$color4:#658DA7;
$color5:#585989;
$color6:#FF52BF;
$color7:#FF5C5C;

@import "./mixin";

*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
    font-family: Wicked Grit;

    .popup{
        position: fixed;
        z-index: 10;
        display: none;


        .log{

            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 100;
            transform: translate(-50%, -50%);
            background-color: $black;
            color: $white;
            border-radius: 5px;
            border: 1px solid $white;
            display: flex;
            flex-direction: column;
            padding: 3rem 3rem;
            input[type=email]{
                padding: .5rem 1rem;
                margin: 1rem 0 .5rem;
                border-radius: 5px;
            }
            input[type=password]{
                padding: .5rem 1rem;
                margin: 1rem 0 .5rem;
                border-radius: 5px;
            }
            input[type=submit]{
                padding: .5rem 1rem;
                margin: 1rem 0 .5rem;
                border: none;
                text-transform: uppercase;
                border-radius: 5px;
                color: $black;
                font-size: 24px;
                font-weight: 600;
                transition: 0.2s;
            }
            input[type=submit]:hover{
                color: $white;
                background-color: $colorsub1;
                box-shadow: 0 0 10px $colorsub1, 0 0 40px $colorsub1, 0 0 80px $colorsub1,;
            }      
            input[type=submit]:active{
                transform: scale(0.9);
            }      
        }
        .overlay{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, .5);
        }
    }


    header{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        background: url(../img/bg4.jpg);
        background-color: black;
        background-size: cover;
        background-position: center;
        width: 100vw;

        // &::after {
        //     content: "";
        //     background: black;
        //     opacity: 0.7;
        //     top: 0;
        //     left: 0;
        //     bottom: 0;
        //     right: 0;
        //     position: absolute;
        //     z-index: -1;   
        // }
        
        nav{
            margin: 1rem 0;
            // padding: 0 3rem;
            width: 90vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 15%;
                max-width: 70px;
            }
        .humberger{
            height: 3px;
            width: 30px;
            background-color: $white;
            z-index: 1;
            cursor: pointer;
            transition-duration: 0.3s;
            &::before{
                content: "";
                position: relative;
                top: -10px;
                display: block;
                height: 3px;
                width: 100%;
                background-color: inherit;
                z-index: 1;
            }
            &::after{
                content: "";
                position: relative;
                top: 7px;
                display: block;
                height: 3px;
                width: 100%;
                background-color: inherit;
                z-index: 1;
            }
            @include laptop{
                display: none;
            }
        }
        .humberger.open{
            transform: rotate(45deg);
            &::before{
                transform: rotate(90deg);
                top: 0;
            }
            &::after{
                display: none;
            }
        }
       
        ul{
            // display: none;
            position: absolute;
            top: -30%;
            left: 50%;
            transform: translate(-50%, -50%);
            flex-direction: column;
            background-color: $black;
            border: 1px solid $white;
            transition-duration: 0.3s;

                @include laptop{
                    position: initial;
                    transform: translate(0%, 0%);
                    display: flex;
                    border: none;
                    width: 60%;
                    background-color: transparent;
                    max-width: 680px;
                    flex-direction: row;
                    justify-content: space-between;
                }
            li{
                padding: .5rem 0;
                a{
                    text-decoration: none;
                    color: $white;
                    font-size: 3.5rem;
                    &:hover{
                        text-decoration: underline;
                    }
                    @include laptop{
                        font-size: 1.5rem;
                    }
                   
                    }
                }
            
            }
            #login{
                color: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: Wicked Grit;
                font-size: 14px;
                border-radius: 50%;
                padding: 1rem .5rem;
                background-color: transparent;
                // border: none;
                transition-duration: 0.2s;
                &:hover{
                    transform: scale(1.1);
                }
                &:active{
                    transform: scale(0.9);
                }
                @include laptop {
                    border-radius: 5px;
                    font-size: 18px;
                    flex-direction: row;
                }
            }

        }
        
        .para p{
            color: $white;
            font-size: 2.5rem;
            text-align: center;
            max-width: 70%;
            margin: 25% auto 0;
            display:flex;
        }
        .button{
            width: 70%;
            font-size: 2.5rem;
            background-color: $white;
            max-width: 420px;
            border-radius: 30px;
            text-align: center;
            transform: scale(1.1);
            margin: 9rem auto;
            transition: transform 0.6s,background-color 0.1s;
            &:hover {
                transform: scale(1.3);
            }
            &:active{
                background-color: $black;
                color: $white;
            }

            a{
                text-decoration: none;
                color: $black;
            }
        }
    
    }

    .aboutme{
        width: 100vw;
        max-width: 1440px;
        display: flex;
        flex-wrap: wrap;
        margin: 3rem auto 0;
        padding-top: 2rem;
        @include laptop {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .ME{
            overflow: hidden;
            @include Note{
                display: grid;
                grid-template-columns: 70% 30%;
                align-items: center;
                justify-items: center;
            }    
             
            h1{
                text-align: center;
                grid-column: 1/3;
                
            }
            p{
                padding: 1rem;
                font-size: 1.3rem;
                margin-top: 2rem;
                line-height: 28px;
                text-align: center;
                @include tab{
                    text-align: start;
                } 
            }
            img{
                position: absolute;
                top: 110%;
                left: 30%;
                z-index: -1;
                opacity: 0.5;
                @include Note{
                    position: static;
                    opacity: 1;
                }
            }
        }
        .skills{
            margin: 3rem auto 0;
            @include laptop {
                margin-top: 0;
            }
            h2{
                text-align: center;
            }
            &__img{
                margin: 2rem auto 0;
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                justify-content: center;
                @include laptop {
                    margin-top: 4rem;
                }
                img{
                    width: 20%;
                    max-width: 100Px;
                    margin: .5rem;
                }
            }
        }
    }

    .projects{
        
        text-align: center;
        margin-top: 5rem;
        
        .projects__list{
            margin-top: 3rem;
            padding: 1rem 3rem;
            background-color: rgba(0, 0, 0, 1);
            .projects__one{
            @include Projects($color:$color3);
                flex-direction: row-reverse;
                &--title{
                    color: $white;
                    padding: 1rem;
                    @include laptop {
                        width: 80%;
                        font-size: 2rem;
                        margin-left: -10%;
                        
                    }
                }
                &--content1{
                    color: $black;
                    background-color: $white;
                    padding: 1rem;
                    max-width: 500px;
                    margin: 0 auto;
                    @include laptop {
                        box-shadow: 0 2px 15px grey;
                        margin-top: 10rem;
                        border-radius: 5px;
                        position: absolute;
                        left: 30%;
                        width: 40%;
                    }
                    @include desktop {
                        margin-top: 5rem;
                        padding: 3rem 2rem;
                        left: 27%;
                    }
                    h3{
                        color: $black;
                        margin: 1rem auto 1rem;
                    }
                    p{
                        margin: 1rem auto 2rem;
                    }
                   
                }
                    
            
                &--buttons{
                    @include buttons($colorB:$color3)
            }
            
            }
            .projects__two{
                @include Projects($color:$color4);
                flex-direction: row;
                &--title2{
                    color: $white;
                    padding: 1rem;
                    @include laptop {
                        width: 50%;
                        font-size: 2rem;
                        
                    }
                    @include desktop { 
                        margin-right: 10%;
                        text-align: right;
                    }
                }
                &--content2{
                    color: $black;
                    background-color: $white;
                    padding: 1rem;
                    max-width: 500px;
                    margin: 0 auto;
                    @include laptop {
                        box-shadow: 0 2px 15px grey;
                        margin-top: 10rem;
                        border-radius: 5px;
                        position: absolute;
                        left: 30%;
                        width: 40%;
                    }
                    @include desktop {
                        margin-top: 5rem;
                        padding: 3rem 2rem;
                        left: 42%;
                    }
                    h3{
                        color: $black;
                        margin: 1rem auto 1rem;
                    }
                    p{
                        margin: 1rem auto 2rem;
                    }
            }
                &--buttons2{
                    @include buttons($colorB:$color4)
                }
            }
            
            .projects__three{
                @include Projects($color:$color5);
                flex-direction: row-reverse;
                &--title3{
                    color: $white;
                    padding: 1rem;
                    @include laptop {
                        width: 80%;
                        font-size: 2rem;
                        margin-left: -10%;
                        
                    }
                }
                &--content3{
                    color: $black;
                    background-color: $white;
                    padding: 1rem;
                    max-width: 500px;
                    margin: 0 auto;
                    @include laptop {
                        box-shadow: 0 2px 15px grey;
                        margin-top: 10rem;
                        border-radius: 5px;
                        position: absolute;
                        left: 30%;
                        width: 40%;
                    }
                    @include desktop {
                        margin-top: 5rem;
                        padding: 3rem 2rem;
                        left: 28%;
                    }
                    h3{
                        color: $black;
                        margin: 1rem auto 1rem;
                    }
                    p{
                        margin: 1rem auto 2rem;
                    }
            }
                &--buttons2{
                    @include buttons($colorB:$color5)
                }
            }
            .projects__four{
                @include Projects($color:$color6);
                flex-direction: row;
                &--title4{
                    color: $white;
                    padding: 1rem;
                    @include laptop {
                        width: 60%;
                        font-size: 2rem;
                        
                    }
                    @include desktop { 
                        margin-right: 3%;
                        text-align: right;
                    }
                }
                &--content4{
                    color: $black;
                    background-color: $white;
                    padding: 1rem;
                    max-width: 500px;
                    margin: 0 auto;
                    @include laptop {
                        box-shadow: 0 2px 15px grey;
                        margin-top: 10rem;
                        border-radius: 5px;
                        position: absolute;
                        left: 30%;
                        width: 40%;
                    }
                    @include desktop {
                        margin-top: 5rem;
                        padding: 3rem 2rem;
                        left: 42%;
                    }
                    h3{
                        color: $black;
                        margin: 1rem auto 1rem;
                    }
                    p{
                        margin: 1rem auto 2rem;
                    }
            }
                &--buttons2{
                    @include buttons($colorB:$color6)
                }
            }
            .projects__five{
                @include Projects($color:$color7);
                flex-direction: row-reverse;
                &--title5{
                    color: $white;
                    padding: 1rem;
                    @include laptop {
                        width: 80%;
                        font-size: 2rem;
                        margin-left: -10%;
                        
                    }
                }
                &--content5{
                    color: $black;
                    background-color: $white;
                    padding: 1rem;
                    max-width: 500px;
                    margin: 0 auto;
                    @include laptop {
                        box-shadow: 0 2px 15px grey;
                        margin-top: 10rem;
                        border-radius: 5px;
                        position: absolute;
                        left: 30%;
                        width: 40%;
                    }
                    @include desktop {
                        margin-top: 5rem;
                        padding: 3rem 2rem;
                        left: 29%;
                    }
                    h3{
                        color: $black;
                        margin: 1rem auto 1rem;
                    }
                    p{
                        margin: 1rem auto 2rem;
                    }
            }
                &--buttons2{
                    @include buttons($colorB:$color7)
                }
            }
            
        }
    }
    footer{
        width: 100vw;
        text-align: center;
        margin-top: 2rem;
        background-color: $black;
        padding-top: 2rem;
        h1{
            color: $white;
        }
        img{
            width: 5%;
        }
        .contact{
            max-width: 1440px;
            display: flex;
            flex-direction: column-reverse;
            width: 90%;
            margin: 3rem auto;
            
            @include tab{
                flex-direction: row;
                justify-content: center;
            } 
            .social{
                background-color: $white;
                border: 1px solid $black;
                border-radius: 0 0 10px 10px;
                padding: 1rem;
                font-size: .8rem;
                @include tab{
                    border-radius: 10px 0 0 10px;
                    width: 50%;

                } 
                div{
                    display: flex;
                    margin: 2rem 0;
                    a{
                        color: $black;
                        text-decoration: none;
                    }
                }
                .soc{
                    display: flex;
                    align-items: center;
                }

            }
            .inputs{
                background-color: $black;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px 10px 0 0;
                padding: 1rem;
                @include tab{
                    border-radius: 0 10px 10px 0;
                    width: 50%;

                } 
                #name{
                    width: 80%;
                    margin: 1rem 0 0;
                    border-radius: 10px;
                    border: none;
                    padding: .5rem;
                }
                #email{
                    width: 80%;
                    margin: 1rem 0 0;
                    border-radius: 10px;
                    border: none;
                    padding: .5rem;
                }
                #message{
                    width: 80%;
                    height: 100px;
                    margin: 1rem 0 0;
                    border-radius: 10px;
                    border: none;
                    padding: .5rem;
                }
                button{
                    font-family: Wicked Grit;
                    font-size: 1.5rem;
                    width: 70%;
                    margin: 1rem 0 0;
                    padding: .5rem 0;
                    border-radius: 10px;
                    border: none;
                    color: $white;
                    background-color: $colorR;
                }
            }
        }
        nav{
            background-color: $black;
            border-radius: 5px 5px 0 0;
            border-top: 1px solid $white;
            padding: 2rem;
            ul{
                display: flex;
                justify-content: space-around;
                width: 60%;
                margin: 0 auto;
                li{
                    list-style: none;
                    a{
                        font-size: .8rem;
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }


    }
}




